body {
    margin: 0;
    height: calc(100vh - 45px);
}

.main {
    display: flex;
    margin: 0;
    width: 100vw;
}

.topBar {
    height: 40px;
    width: calc(100vw);
    padding: 5px 0 0 0;
    display: flex;
    background-color: #04cbb0;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.closeButton {
    padding: 5px;
    margin: 0;
    background-color: transparent;
    -webkit-transition: 0.2s;
}

.closeButton:hover {
    background-color: red;
    -webkit-transition: 0.3s;
}

.windowsButton {
    padding: 5px;
    margin: 0;
    background-color: transparent;
    -webkit-transition: 0.2s;
}

.windowsButton:hover {
    background-color: #6666;
    -webkit-transition: 0.3s;
}

.windowsButtonTag {
    border: none;
    background-color: transparent;
    margin: 0;
}

.numList {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-flow: column;
}

.displayNum {
    border-bottom: 2px solid #666;
    margin: 10px;
    padding: 0px 5px;
}

.displayNum:nth-child(3) {
    margin: 10px 10px 30px;
}

.side {
    height: calc(100vh - 45px);
    width: 40%;
    display: flex;
    flex-flow: column;
    margin: 0 10px;
}

.deleteBtnList {
    width: 40vw;
    display: flex;
    padding: 8px 0;
}

.deleteButton {
    margin: 3px;
    padding: 4px;
    width: 20vw;
    font-size: 2.5vmin;
    border-radius: 5px;
    border: solid;
    box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: black;
    border-color: #04cbb0;
}

.deleteButton:hover {
    box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.5);
}

.btnList {
    display: flex;
    flex-flow: column;
}

.numButton {
    margin: 4px;
    padding: 4px;
    font-size: 3vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.3);
    background-color: #04cbb0;
    color: white;
    -webkit-transition: 0.3s;
}

.numButton:hover {
    box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.5);
}